body
  {
    font-family: "Montserrat-bold";
    text-align: center;
  }

h1, h2, h3, h4, h5, h6
  {
    font-family: "Montserrat";
  }

#title
  {
    background-color: #ff4c68;
  }

.container-fluid
  {
    padding: 3% 15%;
  }

h1
  {
    color: #fff;
    font-size: 3rem;
    font-weight: 600;
    line-height: 1.5;
  }


/* Navbar */

.navbar
  {
    padding-bottom: 4.5rem;
    text-align: left;
  }

.navbar-brand
  {
    color: #fff;
    font-family: "Ubuntu-light";
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
  }

.nav-item
  {
    font-family: "Montserrat-light";
    font-size: 1.5rem;
    padding: 0 18px;
  }


/* title image */

.phone-image
  {
    position:relative;
  }

.title-image
  {
    transform: rotate(20deg);
    margin-left: 40px;
    width: 40%;
  }

.download-button
  {
    margin-left: 15px;
    margin-right:15px;
    margin-top: 15px;
  }


/* features */

#features
  {
    background-color: white;
    padding: 7% 15%;
    position:relative;
    z-index: 1;
  }

.features-text
  {
    padding: 2% 30%;
  }

.feature-image
  {
    color: #ef8172;
    padding: 20px;
  }

.feature-image:hover
  {
    color: #ff4c68;
  }


/* testimonials */

#testimonials
  {
    background-color: #ef8172;
    color: #fff;
    padding: 7% 15%;
  }

h2
  {
    font-size: 3rem;
    line-height: 1.5;
    padding: 1% 5%;
  }

em
  {
    font-size: 1.5rem;
    padding-left: 10px;
  }

.testimonial-image
  {
    border-radius: 100%;
    width: 20%;
    margin: 5%;
  }


/* press */

#press
  {
    background-color: #ef8172;
    padding-bottom: 3%;
  }

.press-image
  {
    margin:20px 40px 20px 40px;
    width:15%;
  }

/* pricing */

#pricing
  {
    padding: 100px;
  }

.card
  {
    border-color: black;
  }

.pricing-column
  {
    margin:auto;
    padding: 3% 2%;
  }

.pricing-text
  {
    font-size: 2rem;
  }

/* call to action */

#cta
  {
    background-color: #ff4c68;
    color: #fff;
    padding-top:5%;
  }

.cta-header
  {
    font-size: 3.5rem;
  }

/* footer */

#footer
  {
    background-color: #ff4c68;
    padding-bottom: 20px;
  }

.social-icon
  {
    margin: 20px 10px;
  }

  @media (max-width:1028px) {

    #title {
      text-align: center;
    }

    .title-image {
      transform: rotate(0);
      width: 60%;
    }

    .phone-image {
      position: static;
    }
  }
